body {
  background: #fafafa; }

.wrapper {
  margin: 0;
  padding: 0; }

.ww {
  padding: 0; }

.big-top {
  padding: 0; }

.wrapper .navbar {
  background: #0097cf;
  margin-bottom: 0; }

.container-fluid .navbar-header a {
  color: #fff; }

.container-fluid .navbar-nav li a {
  color: #fff; }

.navbar-default .navbar-nav > .active a {
  background: #0088ba;
  color: #fff; }

.navbar-default .navbar-nav li a.out {
  color: #43beec; }

.main-box {
  padding-top: 60px;
  height: auto;
  background: #fff; }

.search-top {
  background: #fff; }

.search-top .navbar-header .navbar-brand {
  padding-right: 0;
  padding-left: 0; }

.search-top .navbar-header a {
  color: #0097cf; }

.big-box {
  position: relative;
  padding-left: 0; }

.small-box {
  font-size: 28px;
  color: #ccc;
  position: absolute;
  left: 5px;
  top: 4px; }

.big-box .form-control {
  width: 425px;
  height: 38px;
  padding-left: 0; }

.test {
  padding: 20px 15px; }

.mr70 {
  margin-right: 70px; }

.wb {
  display: inline-block;
  width: 428px;
  height: 188px;
  background: #fcfcfe;
  border: 1px solid #ccc; }
  .wb .h4 {
    padding-left: 10px; }
  .wb .bj {
    margin: 0 10px;
    border-bottom: 1px dashed #ccc;
    color: #0097cf;
    font-size: 14px;
    line-height: 34px; }
  .wb li {
    display: -webkit-flex;
    line-height: 30px;
    justify-content: space-around; }
    .wb li a {
      webkit-flex: 1;
      text-align: center; }
  .wb p {
    padding: 0 10px; }
    .wb p a {
      display: inline-block;
      border: 1px solid #ccc;
      margin: 10px;
      padding: 5px;
      font-size: 14px; }
    .wb p .jia {
      border: 1px solid #0097cf;
      color: #0097cf; }

.jv a {
  position: relative; }
  .jv a .gb {
    width: 14px;
    height: 14px;
    line-height: 14px;
    background: yellow;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -7px;
    right: -7px;
    display: none; }

.table-responsive .table td {
  border: 0 none;
  padding-left: 30px; }

.fk {
  padding: 0; }

.title {
  padding-left: 40px; }
  .title .uls {
    width: 420px;
    height: 34px;
    display: -webkit-flex; }
    .title .uls li {
      -webkit-flex: 1;
      text-align: center;
      background: #f8f8f8;
      border: 1px solid #ccc; }
      .title .uls li a {
        line-height: 34px; }
    .title .uls .br0 {
      border-right: none; }
    .title .uls .sq {
      background: #fff;
      border-top: 1px solid #0097cf;
      border-bottom: none; }
      .title .uls .sq a {
        color: #0097cf; }

.title, .fk {
  height: 34px;
  display: -webkit-flex; }
  .title .jb, .fk .jb {
    font-size: 18px;
    color: #000;
    font-weight: 900;
    line-height: 34px; }
  .title .dash, .fk .dash {
    -webkit-flex: 1;
    height: 34px;
    border-bottom: 1px dashed #999; }

.lh {
  line-height: 30px;
  margin-left: 80px; }

.table-striped {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 1050px;
  text-align: center;
  margin-left: 45px; }

.table-striped thead tr th, .table-striped td {
  text-align: center; }

.pics {
  width: 100%;
  display: -webkit-flex; }
  .pics dl {
    -webkit-flex: 1;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
